html {
  	height: 100%;
}

body {
  padding: 0 10%;
  background: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.mikail {
    width: 240px;
    height: 249px;
    margin-right: 80px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
#content {
  width: 100%;
  font-size: 0.8em;
  text-align: center;
}
#nav {
    margin-top: 10em;
    display: block;
    color: #;
    font-size: 15px;
    letter-spacing: 2px;
} 

li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

a:link {
    color: purple;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: salmon;
    text-decoration: none;
}
a:active {
    color: purple;
    text-decoration: none;
}
 

footer {
    color: purple;
    clear: both;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 8px;
    font-size:15px;
}