html{
    height:100%
}
body {
    background-image: url("achtergrond.jpg");
}

h1 {
    text-align: left;	
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: -10px;
}

h2 {
    text-align: left;	
    font-family: 'Roboto', sans-serif;
    font-weight: 500;    
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 4px;
}
h3 {
    text-align: center;	
    font-family: 'Roboto', sans-serif;
    font-weight: 700;    
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}
h3 {
    text-align: center;	
    font-family: 'Roboto', sans-serif;
    font-weight: 700;    
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}
.center {
    margin: auto;
    width: 80%;
    padding: 20px;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.mikail {
    width: 250px;
    height: 250px;
    margin-right: 100px;
    float: left;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
.name {
    margin-top:120px;
    float: left;
}
nav {
    float: right;
    margin-top: 42px;
    display: inline-block;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
} 
a:link {
    color: purple;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: salmon;
    text-decoration: none;
}
a:active {
    color: purple;
    text-decoration: none;
}