/* ----- Timeline ----- */
.timeline {
      margin: 300px auto ; 
      width: 600px;    /* change timeline width here */
      overflow: hidden; 
}
.timeslot {
      width: 240px; 
      float: left;
      margin: 0 0 40px;
      padding: 10px 100px 0 0;
      border-top: 5px solid #d5d4d5;    /* change left border-top size & color here */
      position: relative;
}
.timeslot.first {
      border-top:none;
}
.timeslot span {
      position: absolute;
      right: 0; top: 20px;
      font-size: 3em;
      line-height: 1em;
      color: #666;    /* change right date color here */
}
.even {
      float: right; 
      padding: 10px 0 0 100px;
      border-color: #244f84;    /* change right border-top size & color here */
}
.even span {
      left: 0;
      color: #244f84;    /* change left date color here */
}